.category-title {
 font-size: 1.6rem;
}

.page-total {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: $dark;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-item {
    cursor: pointer;
}