.footer-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: #FFF;
    display: inline-block;
  }

  .page-footer {
    background-color:#34495e;
    color:#FFF;
  }