.navbar-lowprices4u {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    background-color: #f9f9f9;
    padding: 15px;
    color: $bgcolor;
    align-items: center;
}

.search-form {
    padding-left: 5%;
    width: 60%;
    font-weight: 100;
    color: #d6d5df;
}

.mobile-search {
    display: none;
}

@media only screen and (max-width: 767px) {
    .mobile-search {
        display: block;
    }

    .search-form {
        display: none;
    }
}

.user-div {
    float: right;
    margin-left: 45%;
}

.user-icon {
    cursor: pointer;
}

.user-icon:hover {
    color: $bgcolor;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: $bgcolor;
    float: left;
}

.navbar-brand:hover {
    color: $bgcolor;

    .navbar-logo {
        color: $teal;
    }
}

.navbar-logo {
    color: $pink;
}

.search-input {
    border: 0px;
    color: $light;
}

.b-0 {
    border: 0;
}
